@font-face { font-family: Float; src: url('float-the-boat-webfont.ttf'); } 

.container {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 550%;
}

#prev
{
  transition: 0.2s linear;
  left: 37.1%;
  width: 30px;
  height: 30px;
  top: 93%;
  position: absolute;
  border: 9px solid #e0d9d9;
  border-style: double;
  border-radius: 100%;
  filter: blur(1px) brightness(100%)   drop-shadow(1px 1px 3px beige);
  opacity: 0.7;
}

#prev:hover{
-webkit-transition: 0.5s linear;
-moz-transition: 0.5s -moz-linear;
-o-transition: 0.5s -o-linear;
transition: 0.5s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(41%); 
opacity: 1;   
}

#next
{
  transition: 0.2s linear;
  left: 61.4%;
  width: 30px;
  height: 30px;
  top: 93%;
  position: absolute;
  border: 9px solid #e0d9d9;
  border-style: double;
  border-radius: 100%;
  filter: blur(1px) brightness(100%)   drop-shadow(1px 1px 3px beige);
  opacity: 0.7;
}

#next:hover{
-webkit-transition: 0.5s linear;
-moz-transition: 0.5s -moz-linear;
-o-transition: 0.5s -o-linear;
transition: 0.5s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(41%); 
opacity: 1;   
}

#steam{
transition: 0.2s linear;
height: 70px;
width: 70px;
top: 24%;
position: absolute;
left: 47.7%;
border: 9px solid #e0d9d9;
border-style: double;
border-radius: 100%;
filter: blur(1px) brightness(100%) drop-shadow(1px 1px 6px beige);
opacity: 0.7;
}

#steam:hover{
-webkit-transition: 1s linear;
-moz-transition: 1s -moz-linear;
-o-transition: 1s -o-linear;
transition: 1s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(25%); 
opacity: 1;   
transform: rotate(360deg);
}

#mail{
transition: 0.2s linear;
height: 70px;
width: 70px;
position: absolute;
top: 44%;
left: 56%;
border: 9px solid #e0d9d9;
border-style: double;
border-radius: 100%;
filter: blur(1px) brightness(100%) drop-shadow(1px 1px 6px beige);
opacity: 0.7;  
}

#mail:hover{
-webkit-transition: 1s linear;
-moz-transition: 1s -moz-linear;
-o-transition: 1s -o-linear;
transition: 1s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(25%); 
opacity: 1;    
transform: rotate(360deg);  
}

#youtube{
transition: 0.2s linear;  
height: 70px;
width: 70px;
position: absolute;
top: 44%;
left: 39.9%;
border: 9px solid #e0d9d9;
border-style: double;
border-radius: 100%;
filter: blur(1px) brightness(100%) drop-shadow(1px 1px 6px beige);
opacity: 0.7;   
}

#youtube:hover{
-webkit-transition: 1s linear;
-moz-transition: 1s -moz-linear;
-o-transition: 1s -o-linear;
transition: 1s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(25%); 
opacity: 1; 
transform: rotate(360deg); 
}

.mpcontroller{
   position:absolute;
   bottom:0;
   width:20%;
   height:20px; 
   left: 50%
}

#slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  opacity: 0.3;
  -webkit-transition: 1.3s; /* 0.2 seconds transition on hover */
   transition: 1.3s;
}

#slider:hover{
-webkit-transition: 0.3s linear;
-moz-transition: 0.3s -moz-linear;
-o-transition: 0.3s -o-linear;
transition: 0.3s linear;
opacity: 0.85;
filter: blur(1px) brightness(100%)   drop-shadow(1px 1px 9px beige);
}

h1 {
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(2deg);
  position: absolute;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.links {
  text-align: center;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
}

.footer {
   opacity: 0.65;
   text-align: right;
   position:absolute;
   bottom:0;
   width:99.4%;
   height:40px; 
   font-family: Float;
   -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: black;
   color: white;
   text-shadow: 0px 0px 5px white,0px 0px 5px white,0px 0px 5px white,0px 0px 10px #553300,0px 0px 10px #553300;
}

 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#player {
 opacity: 0.4;
 }
 body {
    background-color:#0e0d0e;
    width: 100%;
    overflow: hidden;
}








.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 400px;
  left: 50%;
  bottom: 0;
  height: 40px;
  background: rgba(0,0,0,0);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224,217,217, 0.3)), color-stop(100%, rgba(224,217,217, 0.3)));
  background: -webkit-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: -o-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: -ms-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224,217,217, 0.3)), color-stop(100%, rgba(224,217,217, 0.3)));
  background: -webkit-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: -o-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: -ms-linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  background: linear-gradient(45deg, rgba(224,217,217, 0.3) 0%, rgba(224,217,217, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 30%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #ffffff00;
  cursor: pointer;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  border-radius: 30%;
  border: 2px solid;
  height: 25px;
  width: 25px;
  max-width: 80px;
  background-color:  #ffffff00;
  position: relative;
  bottom: 11px;
  cursor: pointer;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.step1::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.3);
}

.range.step2::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.30625);
}

.range.step3::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.3125);
}

.range.step4::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.31875);
}

.range.step5::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.325);
}

.range.step6::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.33125); 
}

.range.step7::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.3375);
}

.range.step8::-webkit-slider-thumb{
border-color: rgba(224,217,217, 0.34375 ); 
}

.range.step9::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.35); 
}

.range.step10::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.35625);
}

.range.step11::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.3625);
}

.range.step12::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.36875);
}

.range.step13::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.375); 
}

.range.step14::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.38125);
}

.range.step15::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.3875);
}

.range.step16::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.39375);
}

.range.step17::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.4);
}

.range.step18::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.40625);
}

.range.step19::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.4125); 
}

.range.step20::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.41875);
}

.range.step21::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.425);
}

.range.step22::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.43125);
}

.range.step23::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.4375);
}

.range.step24::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.44375);
}

.range.step25::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.45);
}

.range.step26::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.45625);
}

.range.step27::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.4625); 
}

.range.step28::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.46875);
}

.range.step29::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.475);
}

.range.step30::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.48125);
}

.range.step31::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.4875);
}

.range.step32::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.49375); 
}

.range.step33::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.5); 
}

.range.step34::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.50625);
}

.range.step35::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.5125);
}

.range.step36::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.51875); 
}

.range.step37::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.525); 
}

.range.step38::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.53125);
}

.range.step39::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.5375);
}

.range.step40::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.54375); 
}

.range.step41::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.55); 
}

.range.step42::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.55625);
}

.range.step43::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.5625);
}

.range.step44::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.56875);
}

.range.step45::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.575);
}
.text.step46::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.58125);
}

.range.step47::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.5875);
}

.range.step48::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.59375);
}

.range.step49::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.6);
}

.range.step50::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.60625);
}

.range.step51::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.6125); 
}

.range.step52::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.61875);
}

.range.step53::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.625);
}

.range.step54::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.63125);
}

.range.step55::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.6375);
}

.range.step56::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.64375); 
}

.range.step57::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.65); 
}

.range.step58::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.65625);
}

.range.step59::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.6625); 
}

.range.step60::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.66875);
}

.range.step61::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.675); 
}

.range.step62::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.68125);
}

.range.step63::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.6875);
}

.range.step64::-webkit-slider-thumb{
border-color: rgba(224,217,217,0.7);
}




.range.step1::-moz-range-thumb{
border-color: rgba(224,217,217,0.3);
}

.range.step2::-moz-range-thumb{
border-color: rgba(224,217,217,0.30625);
}

.range.step3::-moz-range-thumb{
border-color: rgba(224,217,217,0.3125);
}

.range.step4::-moz-range-thumb{
border-color: rgba(224,217,217,0.31875);
}

.range.step5::-moz-range-thumb{
border-color: rgba(224,217,217,0.325);
}

.range.step6::-moz-range-thumb{
border-color: rgba(224,217,217,0.33125); 
}

.range.step7::-moz-range-thumb{
border-color: rgba(224,217,217,0.3375);
}

.range.step8::-moz-range-thumb{
border-color: rgba(224,217,217, 0.34375 ); 
}

.range.step9::-moz-range-thumb{
border-color: rgba(224,217,217,0.35); 
}

.range.step10::-moz-range-thumb{
border-color: rgba(224,217,217,0.35625);
}

.range.step11::-moz-range-thumb{
border-color: rgba(224,217,217,0.3625);
}

.range.step12::-moz-range-thumb{
border-color: rgba(224,217,217,0.36875);
}

.range.step13::-moz-range-thumb{
border-color: rgba(224,217,217,0.375); 
}

.range.step14::-moz-range-thumb{
border-color: rgba(224,217,217,0.38125);
}

.range.step15::-moz-range-thumb{
border-color: rgba(224,217,217,0.3875);
}

.range.step16::-moz-range-thumb{
border-color: rgba(224,217,217,0.39375);
}

.range.step17::-moz-range-thumb{
border-color: rgba(224,217,217,0.4);
}

.range.step18::-moz-range-thumb{
border-color: rgba(224,217,217,0.40625);
}

.range.step19::-moz-range-thumb{
border-color: rgba(224,217,217,0.4125); 
}

.range.step20::-moz-range-thumb{
border-color: rgba(224,217,217,0.41875);
}

.range.step21::-moz-range-thumb{
border-color: rgba(224,217,217,0.425);
}

.range.step22::-moz-range-thumb{
border-color: rgba(224,217,217,0.43125);
}

.range.step23::-moz-range-thumb{
border-color: rgba(224,217,217,0.4375);
}

.range.step24::-moz-range-thumb{
border-color: rgba(224,217,217,0.44375);
}

.range.step25::-moz-range-thumb{
border-color: rgba(224,217,217,0.45);
}

.range.step26::-moz-range-thumb{
border-color: rgba(224,217,217,0.45625);
}

.range.step27::-moz-range-thumb{
border-color: rgba(224,217,217,0.4625); 
}

.range.step28::-moz-range-thumb{
border-color: rgba(224,217,217,0.46875);
}

.range.step29::-moz-range-thumb{
border-color: rgba(224,217,217,0.475);
}

.range.step30::-moz-range-thumb{
border-color: rgba(224,217,217,0.48125);
}

.range.step31::-moz-range-thumb{
border-color: rgba(224,217,217,0.4875);
}

.range.step32::-moz-range-thumb{
border-color: rgba(224,217,217,0.49375); 
}

.range.step33::-moz-range-thumb{
border-color: rgba(224,217,217,0.5); 
}

.range.step34::-moz-range-thumb{
border-color: rgba(224,217,217,0.50625);
}

.range.step35::-moz-range-thumb{
border-color: rgba(224,217,217,0.5125);
}

.range.step36::-moz-range-thumb{
border-color: rgba(224,217,217,0.51875); 
}

.range.step37::-moz-range-thumb{
border-color: rgba(224,217,217,0.525); 
}

.range.step38::-moz-range-thumb{
border-color: rgba(224,217,217,0.53125);
}

.range.step39::-moz-range-thumb{
border-color: rgba(224,217,217,0.5375);
}

.range.step40::-moz-range-thumb{
border-color: rgba(224,217,217,0.54375); 
}

.range.step41::-moz-range-thumb{
border-color: rgba(224,217,217,0.55); 
}

.range.step42::-moz-range-thumb{
border-color: rgba(224,217,217,0.55625);
}

.range.step43::-moz-range-thumb{
border-color: rgba(224,217,217,0.5625);
}

.range.step44::-moz-range-thumb{
border-color: rgba(224,217,217,0.56875);
}

.range.step45::-moz-range-thumb{
border-color: rgba(224,217,217,0.575);
}
.text.step46::-moz-range-thumb{
border-color: rgba(224,217,217,0.58125);
}

.range.step47::-moz-range-thumb{
border-color: rgba(224,217,217,0.5875);
}

.range.step48::-moz-range-thumb{
border-color: rgba(224,217,217,0.59375);
}

.range.step49::-moz-range-thumb{
border-color: rgba(224,217,217,0.6);
}

.range.step50::-moz-range-thumb{
border-color: rgba(224,217,217,0.60625);
}

.range.step51::-moz-range-thumb{
border-color: rgba(224,217,217,0.6125); 
}

.range.step52::-moz-range-thumb{
border-color: rgba(224,217,217,0.61875);
}

.range.step53::-moz-range-thumb{
border-color: rgba(224,217,217,0.625);
}

.range.step54::-moz-range-thumb{
border-color: rgba(224,217,217,0.63125);
}

.range.step55::-moz-range-thumb{
border-color: rgba(224,217,217,0.6375);
}

.range.step56::-moz-range-thumb{
border-color: rgba(224,217,217,0.64375); 
}

.range.step57::-moz-range-thumb{
border-color: rgba(224,217,217,0.65); 
}

.range.step58::-moz-range-thumb{
border-color: rgba(224,217,217,0.65625);
}

.range.step59::-moz-range-thumb{
border-color: rgba(224,217,217,0.6625); 
}

.range.step60::-moz-range-thumb{
border-color: rgba(224,217,217,0.66875);
}

.range.step61::-moz-range-thumb{
border-color: rgba(224,217,217,0.675); 
}

.range.step62::-moz-range-thumb{
border-color: rgba(224,217,217,0.68125);
}

.range.step63::-moz-range-thumb{
border-color: rgba(224,217,217,0.6875);
}

.range.step64::-moz-range-thumb{
border-color: rgba(224,217,217,0.7);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:active {
  cursor: pointer;
}

.text.step1{
opacity: 0.3;}

.text.step2{
opacity: 0.30625;}

.text.step3{
opacity: 0.3171875;}

.text.step4{
opacity: 0.328125;}

.text.step5{
opacity: 0.3390625;}

.text.step6{
opacity: 0.35;}

.text.step7{
opacity: 0.3609375;}

.text.step8{
opacity: 0.371875;}

.text.step9{
opacity: 0.3828125;}

.text.step10{
opacity: 0.39375;}

.text.step11{
opacity: 0.4046875;}

.text.step12{
opacity: 0.415625;}

.text.step13{
opacity: 0.4265625;}

.text.step14{
opacity: 0.4375;}

.text.step15{
opacity: 0.4484375;}

.text.step16{
opacity: 0.459375;}

.text.step17{
opacity: 0.4703125;}

.text.step18{
opacity: 0.48125;}

.text.step19{
opacity: 0.4921875;}

.text.step20{
opacity: 0.503125;}

.text.step21{
opacity: 0.5140625;}

.text.step22{
opacity: 0.525;}

.text.step23{
opacity: 0.5359375;}

.text.step24{
opacity: 0.546875;}

.text.step25{
opacity: 0.5578125;}

.text.step26{
opacity: 0.56875;}

.text.step27{
opacity: 0.5796875;}

.text.step28{
opacity: 0.590625;}

.text.step29{
opacity: 0.6015625;}

.text.step30{
opacity: 0.6125;}

.text.step31{
opacity: 0.6234375;}

.text.step32{
opacity: 0.634375;}

.text.step33{
opacity: 0.6453125;}

.text.step34{
opacity: 0.65625;}

.text.step35{
opacity: 0.6671875;}

.text.step36{
opacity: 0.678125;}

.text.step37{
opacity: 0.6890625;}

.text.step38{
opacity: 0.7;}

.text.step39{
opacity: 0.7109375;}

.text.step40{
opacity: 0.721875;}

.text.step41{
opacity: 0.7328125;}

.text.step42{
opacity: 0.74375;}

.text.step43{
opacity: 0.7546875;}

.text.step44{
opacity: 0.765625;}

.text.step45{
opacity: 0.7765625;}

.text.step46{
opacity: 0.7875;}

.text.step47{
opacity: 0.7984375;}

.text.step48{
opacity: 0.809375;}

.text.step49{
opacity: 0.8203125;}

.text.step50{
opacity: 0.83125;}

.text.step51{
opacity: 0.8421875;}

.text.step52{
opacity: 0.853125;}

.text.step53{
opacity: 0.8640625;}

.text.step54{
opacity: 0.875;}

.text.step55{
opacity: 0.8859375;}

.text.step56{
opacity: 0.896875;}

.text.step57{
opacity: 0.9078125;}

.text.step58{
opacity: 0.91875;}

.text.step59{
opacity: 0.9296875;}

.text.step60{
opacity: 0.940625;}

.text.step61{
opacity: 0.9515625;}

.text.step62{
opacity: 0.9625;}

.text.step63{
opacity: 0.9734375;}

.text.step64{
opacity: 1;}
