@font-face { font-family: Float; src: url('float-the-boat-webfont.ttf'); } 

.container {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 159px;
  opacity: 1;
-webkit-text-stroke-width: 0px;
-webkit-text-stroke-color: white;
text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
}

#prev
{
  transition: 0.2s linear;
  left: 37.1%;
  width: 30px;
  height: 30px;
  top: 93%;
  position: absolute;
  border: 9px solid #e0d9d9;
  border-style: double;
  border-radius: 100%;
  filter: blur(1px) brightness(100%)   drop-shadow(1px 1px 3px beige);
  opacity: 0.7;
}

#prev:hover{
-webkit-transition: 0.5s linear;
-moz-transition: 0.5s -moz-linear;
-o-transition: 0.5s -o-linear;
transition: 0.5s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(41%); 
opacity: 1;   
}

#next
{
  transition: 0.2s linear;
  left: 61.4%;
  width: 30px;
  height: 30px;
  top: 93%;
  position: absolute;
  border: 9px solid #e0d9d9;
  border-style: double;
  border-radius: 100%;
  filter: blur(1px) brightness(100%)   drop-shadow(1px 1px 3px beige);
  opacity: 0.7;
}

#next:hover{
-webkit-transition: 0.5s linear;
-moz-transition: 0.5s -moz-linear;
-o-transition: 0.5s -o-linear;
transition: 0.5s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(41%); 
opacity: 1;   
}

#steam{
transition: 0.2s linear;
height: 70px;
width: 70px;
top: 24%;
position: absolute;
left: 47.7%;
border: 9px solid #e0d9d9;
border-style: double;
border-radius: 100%;
filter: blur(1px) brightness(100%) drop-shadow(1px 1px 6px beige);
opacity: 0.7;
}

#steam:hover{
-webkit-transition: 1s linear;
-moz-transition: 1s -moz-linear;
-o-transition: 1s -o-linear;
transition: 1s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(25%); 
opacity: 1;   
transform: rotate(360deg);
}

#mail{
transition: 0.2s linear;
height: 70px;
width: 70px;
position: absolute;
top: 44%;
left: 56%;
border: 9px solid #e0d9d9;
border-style: double;
border-radius: 100%;
filter: blur(1px) brightness(100%) drop-shadow(1px 1px 6px beige);
opacity: 0.7;  
}

#mail:hover{
-webkit-transition: 1s linear;
-moz-transition: 1s -moz-linear;
-o-transition: 1s -o-linear;
transition: 1s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(25%); 
opacity: 1;    
transform: rotate(360deg);  
}

#youtube{
transition: 0.2s linear;  
height: 70px;
width: 70px;
position: absolute;
top: 44%;
left: 39.9%;
border: 9px solid #e0d9d9;
border-style: double;
border-radius: 100%;
filter: blur(1px) brightness(100%) drop-shadow(1px 1px 6px beige);
opacity: 0.7;   
}

#youtube:hover{
-webkit-transition: 1s linear;
-moz-transition: 1s -moz-linear;
-o-transition: 1s -o-linear;
transition: 1s linear;
-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
filter: blur(3px) brightness(25%); 
opacity: 1; 
transform: rotate(360deg); 
}

.mpcontroller{
   position:absolute;
   bottom:0;
   width:20%;
   height:20px; 
   left: 50%
}

#slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  opacity: 0.3;
  -webkit-transition: 1.3s; /* 0.2 seconds transition on hover */
   transition: opacity 1.3s;
}

#slider:hover{
opacity: 0.7;
}

h1 {
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(2deg);
  position: absolute;
  opacity: 0.3;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.links {
  text-align: center;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  color: white;
  text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
}

.footer {
   opacity: 0.65;
   text-align: right;
   position:absolute;
   bottom:0;
   width:99.4%;
   height:40px; 
   font-family: Float;
   -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: black;
   color: white;
   text-shadow: 0px 0px 5px white,0px 0px 5px white,0px 0px 5px white,0px 0px 10px #553300,0px 0px 10px #553300;
}

 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#player {
 opacity: 0.4;
 }
 body {
    background-color:#0e0d0e;
    width: 100%;
    overflow: hidden;
}








.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 400px;
  left: 50%;
  bottom: 0;
  height: 40px;
  background: rgba(0,0,0,0);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9,167,190,1)), color-stop(2%, rgba(8,158,189,1)),color-stop(4%, rgba(8,150,189,1)), color-stop(5%, rgba(8,141,189,1)), color-stop(7%, rgba(8,133,188,1)), color-stop(9%, rgba(8,124,188,1)), color-stop(11%, rgba(8,116,188,1)), color-stop(13%, rgba(8,107,188,1)), color-stop(15%, rgba(8,99,187,1)), color-stop(17%, rgba(8,91,187,1)), color-stop(18%, rgba(8,82,187,1)), color-stop(20%, rgba(8,74,187,1)),  color-stop(22%, rgba(8,66,186,1)), color-stop(23%, rgba(8,58,186,1)), color-stop(24%, rgba(8,49,186,1)), color-stop(25%, rgba(7,41,185,1)), color-stop(27%, rgba(7,33,185,1)), color-stop(29%, rgba(7,25,185,1)), color-stop(31%, rgba(7,17,185,1)), color-stop(33%, rgba(7,8,184,1)), color-stop(35%, rgba(14,7,184,1)), color-stop(37%, rgba(22,7,184,1)), color-stop(38%, rgba(30,7,184,1)), color-stop(40%, rgba(38,7,183,1)), color-stop(42%, rgba(46,7,183,1)), color-stop(43%, rgba(54,7,183,1)), color-stop(44%, rgba(62,7,182,1)), color-stop(45%, rgba(70,7,182,1)), color-stop(46%, rgba(77,7,182,1)), color-stop(47%, rgba(85,7,182,1)),  color-stop(49%, rgba(93,7,181,1)), color-stop(50%, rgba(101,6,181,1)), color-stop(52%, rgba(109,6,181,1)), color-stop(54%, rgba(116,6,181,1)),  color-stop(55%, rgba(124,6,180,1)), color-stop(57%, rgba(132,6,180,1)), color-stop(58%, rgba(140,6,180,1)), color-stop(60%, rgba(147,6,180,1)), color-stop(61%, rgba(155,6,179,1)),  color-stop(63%, rgba(163,6,179,1)),  color-stop(64%, rgba(170,6,179,1)), color-stop(65%, rgba(178,6,178,1)), color-stop(67%, rgba(178,6,171,1)), color-stop(69%, rgba(178,6,163,1)), color-stop(71%, rgba(178,6,155,1)), color-stop(72%, rgba(177,6,147,1)), color-stop(73%, rgba(177,6,139,1)), color-stop(75%, rgba(177,5,130,1)), color-stop(77%, rgba(177,5,122,1)), color-stop(79%, rgba(176,5,114,1)), color-stop(80%, rgba(176,5,106,1)), color-stop(81%, rgba(176,5,99,1)), color-stop(83%, rgba(175,5,91,1)), color-stop(85%, rgba(175,5,83,1)), color-stop(86%, rgba(175,5,75,1)), color-stop(88%, rgba(175,5,67,1)), color-stop(90%, rgba(174,5,59,1)), color-stop(92%, rgba(174,5,51,1)), color-stop(93%, rgba(174,5,43,1)), color-stop(95%, rgba(174,5,36,1)), color-stop(96%, rgba(173,5,28,1)), color-stop(98%, rgba(173,5,20,1)), color-stop(99%, rgba(173,5,12,1)), color-stop(100%, rgba(173,5,5,1)));
  background: -webkit-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: -o-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9,167,190,1)), color-stop(2%, rgba(8,158,189,1)),color-stop(4%, rgba(8,150,189,1)), color-stop(5%, rgba(8,141,189,1)), color-stop(7%, rgba(8,133,188,1)), color-stop(9%, rgba(8,124,188,1)), color-stop(11%, rgba(8,116,188,1)), color-stop(13%, rgba(8,107,188,1)), color-stop(15%, rgba(8,99,187,1)), color-stop(17%, rgba(8,91,187,1)), color-stop(18%, rgba(8,82,187,1)), color-stop(20%, rgba(8,74,187,1)),  color-stop(22%, rgba(8,66,186,1)), color-stop(23%, rgba(8,58,186,1)), color-stop(24%, rgba(8,49,186,1)), color-stop(25%, rgba(7,41,185,1)), color-stop(27%, rgba(7,33,185,1)), color-stop(29%, rgba(7,25,185,1)), color-stop(31%, rgba(7,17,185,1)), color-stop(33%, rgba(7,8,184,1)), color-stop(35%, rgba(14,7,184,1)), color-stop(37%, rgba(22,7,184,1)), color-stop(38%, rgba(30,7,184,1)), color-stop(40%, rgba(38,7,183,1)), color-stop(42%, rgba(46,7,183,1)), color-stop(43%, rgba(54,7,183,1)), color-stop(44%, rgba(62,7,182,1)), color-stop(45%, rgba(70,7,182,1)), color-stop(46%, rgba(77,7,182,1)), color-stop(47%, rgba(85,7,182,1)),  color-stop(49%, rgba(93,7,181,1)), color-stop(50%, rgba(101,6,181,1)), color-stop(52%, rgba(109,6,181,1)), color-stop(54%, rgba(116,6,181,1)),  color-stop(55%, rgba(124,6,180,1)), color-stop(57%, rgba(132,6,180,1)), color-stop(58%, rgba(140,6,180,1)), color-stop(60%, rgba(147,6,180,1)), color-stop(61%, rgba(155,6,179,1)),  color-stop(63%, rgba(163,6,179,1)),  color-stop(64%, rgba(170,6,179,1)), color-stop(65%, rgba(178,6,178,1)), color-stop(67%, rgba(178,6,171,1)), color-stop(69%, rgba(178,6,163,1)), color-stop(71%, rgba(178,6,155,1)), color-stop(72%, rgba(177,6,147,1)), color-stop(73%, rgba(177,6,139,1)), color-stop(75%, rgba(177,5,130,1)), color-stop(77%, rgba(177,5,122,1)), color-stop(79%, rgba(176,5,114,1)), color-stop(80%, rgba(176,5,106,1)), color-stop(81%, rgba(176,5,99,1)), color-stop(83%, rgba(175,5,91,1)), color-stop(85%, rgba(175,5,83,1)), color-stop(86%, rgba(175,5,75,1)), color-stop(88%, rgba(175,5,67,1)), color-stop(90%, rgba(174,5,59,1)), color-stop(92%, rgba(174,5,51,1)), color-stop(93%, rgba(174,5,43,1)), color-stop(95%, rgba(174,5,36,1)), color-stop(96%, rgba(173,5,28,1)), color-stop(98%, rgba(173,5,20,1)), color-stop(99%, rgba(173,5,12,1)), color-stop(100%, rgba(173,5,5,1)));
  background: -webkit-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: -o-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  background: linear-gradient(45deg, rgba(9,167,190,1) 0%, rgba(8,158,189,1) 2%, rgba(8,150,189,1) 4%, rgba(8,141,189,1) 5%, rgba(8,133,188,1) 7%, rgba(8,124,188,1) 9%, rgba(8,116,188,1) 11%, rgba(8,107,188,1) 13%, rgba(8,99,187,1) 15%, rgba(8,91,187,1) 17%, rgba(8,82,187,1) 18%, rgba(8,74,187,1) 20%, rgba(8,66,186,1) 22%, rgba(8,58,186,1) 23%, rgba(8,49,186,1) 24%, rgba(7,41,185,1) 25%, rgba(7,33,185,1) 27%, rgba(7,25,185,1) 29%, rgba(7,17,185,1) 31%, rgba(7,8,184,1) 33%, rgba(14,7,184,1) 35%, rgba(22,7,184,1) 37%, rgba(30,7,184,1) 38%, rgba(38,7,183,1) 40%, rgba(46,7,183,1) 42%, rgba(54,7,183,1) 43%, rgba(62,7,182,1) 44%, rgba(70,7,182,1) 45%, rgba(77,7,182,1) 46%, rgba(85,7,182,1) 47%, rgba(93,7,181,1) 49%, rgba(101,6,181,1) 50%, rgba(109,6,181,1) 52%, rgba(116,6,181,1) 54%, rgba(124,6,180,1) 55%, rgba(132,6,180,1) 57%, rgba(140,6,180,1) 58%, rgba(147,6,180,1) 60%, rgba(155,6,179,1) 61%, rgba(163,6,179,1) 63%, rgba(170,6,179,1) 64%, rgba(178,6,178,1) 65%, rgba(178,6,171,1) 67%, rgba(178,6,163,1) 69%, rgba(178,6,155,1) 71%, rgba(177,6,147,1) 72%, rgba(177,6,139,1) 73%, rgba(177,5,130,1) 75%, rgba(177,5,122,1) 77%, rgba(176,5,114,1) 79%, rgba(176,5,106,1) 80%, rgba(176,5,99,1) 81%, rgba(175,5,91,1) 83%, rgba(175,5,83,1) 85%, rgba(175,5,75,1) 86%, rgba(175,5,67,1) 88%, rgba(174,5,59,1) 90%, rgba(174,5,51,1) 92%, rgba(174,5,43,1) 93%, rgba(174,5,36,1) 95%, rgba(173,5,28,1) 96%, rgba(173,5,20,1) 98%, rgba(173,5,12,1) 99%, rgba(173,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 30%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #ffffff00;
  cursor: pointer;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  border-radius: 30%;
  border: 2px solid;
  height: 25px;
  width: 25px;
  max-width: 80px;
  background-color:  #ffffff00;
  position: relative;
  bottom: 11px;
  cursor: pointer;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.step1::-webkit-slider-thumb{
border-color: rgb(9,167,190);
}

.range.step2::-webkit-slider-thumb{
border-color: rgb(8,158,189);
}

.range.step3::-webkit-slider-thumb{
border-color: rgb(8,150,189); 
}

.range.step4::-webkit-slider-thumb{
border-color: rgb(8,141,189); 
}

.range.step5::-webkit-slider-thumb{
border-color: rgb(8,133,188); 
}

.range.step6::-webkit-slider-thumb{
border-color: rgb(8,124,188); 
}

.range.step7::-webkit-slider-thumb{
border-color: rgb(8,116,188); 
}

.range.step8::-webkit-slider-thumb{
border-color: rgb(8,107,188); 
}

.range.step9::-webkit-slider-thumb{
border-color: rgb(8,99,187); 
}

.range.step10::-webkit-slider-thumb{
border-color: rgb(8,91,187); 
}

.range.step11::-webkit-slider-thumb{
border-color: rgb(8,82,187); 
}

.range.step12::-webkit-slider-thumb{
border-color: rgb(8,74,187); 
}

.range.step13::-webkit-slider-thumb{
border-color: rgb(8,66,186); 
}

.range.step14::-webkit-slider-thumb{
border-color: rgb(8,58,186); 
}

.range.step15::-webkit-slider-thumb{
border-color: rgb(8,49,186); 
}

.range.step16::-webkit-slider-thumb{
border-color: rgb(7,41,185); 
}

.range.step17::-webkit-slider-thumb{
border-color: rgb(7,33,185); 
}

.range.step18::-webkit-slider-thumb{
border-color: rgb(7,25,185); 
}

.range.step19::-webkit-slider-thumb{
border-color: rgb(7,17,185); 
}

.range.step20::-webkit-slider-thumb{
border-color: rgb(7,8,184); 
}

.range.step21::-webkit-slider-thumb{
border-color: rgb(14,7,184); 
}

.range.step22::-webkit-slider-thumb{
border-color: rgb(22,7,184); 
}

.range.step23::-webkit-slider-thumb{
border-color: rgb(30,7,184); 
}

.range.step24::-webkit-slider-thumb{
border-color: rgb(38,7,183); 
}

.range.step25::-webkit-slider-thumb{
border-color: rgb(46,7,183); 
}

.range.step26::-webkit-slider-thumb{
border-color: rgb(54,7,183); 
}

.range.step27::-webkit-slider-thumb{
border-color: rgb(62,7,182); 
}

.range.step28::-webkit-slider-thumb{
border-color: rgb(70,7,182); 
}

.range.step29::-webkit-slider-thumb{
border-color: rgb(77,7,182); 
}

.range.step30::-webkit-slider-thumb{
border-color: rgb(85,7,182); 
}

.range.step31::-webkit-slider-thumb{
border-color: rgb(93,7,181); 
}

.range.step32::-webkit-slider-thumb{
border-color: rgb(101,6,181); 
}

.range.step33::-webkit-slider-thumb{
border-color: rgb(109,6,181); 
}

.range.step34::-webkit-slider-thumb{
border-color: rgb(116,6,181); 
}

.range.step35::-webkit-slider-thumb{
border-color: rgb(124,6,180); 
}

.range.step36::-webkit-slider-thumb{
border-color: rgb(132,6,180); 
}

.range.step37::-webkit-slider-thumb{
border-color: rgb(140,6,180); 
}

.range.step38::-webkit-slider-thumb{
border-color: rgb(147,6,180); 
}

.range.step39::-webkit-slider-thumb{
border-color: rgb(155,6,179); 
}

.range.step40::-webkit-slider-thumb{
border-color: rgb(163,6,179); 
}

.range.step41::-webkit-slider-thumb{
border-color: rgb(170,6,179); 
}

.range.step42::-webkit-slider-thumb{
border-color: rgb(178,6,178);
}

.range.step43::-webkit-slider-thumb{
border-color: rgb(178,6,171); 
}

.range.step44::-webkit-slider-thumb{
border-color: rgb(178,6,163); 
}

.range.step45::-webkit-slider-thumb{
border-color: rgb(178,6,155); 
}
.text.step46::-webkit-slider-thumb{
border-color: rgb(177,6,147);
}

.range.step47::-webkit-slider-thumb{
border-color: rgb(177,6,139); 
}

.range.step48::-webkit-slider-thumb{
border-color: rgb(177,5,130); 
}

.range.step49::-webkit-slider-thumb{
border-color: rgb(177,5,122); 
}

.range.step50::-webkit-slider-thumb{
border-color: rgb(176,5,114); 
}

.range.step51::-webkit-slider-thumb{
border-color: rgb(176,5,106); 
}

.range.step52::-webkit-slider-thumb{
border-color: rgb(176,5,99); 
}

.range.step53::-webkit-slider-thumb{
border-color: rgb(175,5,91); 
}

.range.step54::-webkit-slider-thumb{
border-color: rgb(175,5,83); 
}

.range.step55::-webkit-slider-thumb{
border-color: rgb(175,5,75); 
}

.range.step56::-webkit-slider-thumb{
border-color: rgb(175,5,67); 
}

.range.step57::-webkit-slider-thumb{
border-color: rgb(174,5,59); 
}

.range.step58::-webkit-slider-thumb{
border-color: rgb(174,5,51); 
}

.range.step59::-webkit-slider-thumb{
border-color: rgb(174,5,43); 
}

.range.step60::-webkit-slider-thumb{
border-color: rgb(174,5,36); 
}

.range.step61::-webkit-slider-thumb{
border-color: rgb(173,5,28); 
}

.range.step62::-webkit-slider-thumb{
border-color: rgb(173,5,20); 
}

.range.step63::-webkit-slider-thumb{
border-color: rgb(173,5,12); 
}

.range.step64::-webkit-slider-thumb{
border-color: rgb(173,5,5); 
}




.range.step1::-moz-range-thumb
{
border-color: rgb(9,167,190);
}

.range.step2::-moz-range-thumb
{
border-color: rgb(8,158,189);
}

.range.step3::-moz-range-thumb
{
border-color: rgb(8,150,189); 
}

.range.step4::-moz-range-thumb
{
border-color: rgb(8,141,189); 
}

.range.step5::-moz-range-thumb
{
border-color: rgb(8,133,188); 
}

.range.step6::-moz-range-thumb
{
border-color: rgb(8,124,188); 
}

.range.step7::-moz-range-thumb
{
border-color: rgb(8,116,188); 
}

.range.step8::-moz-range-thumb{
border-color: rgb(8,107,188); 
}

.range.step9::-moz-range-thumb{
border-color: rgb(8,99,187); 
}

.range.step10::-moz-range-thumb{
border-color: rgb(8,91,187); 
}

.range.step11::-moz-range-thumb{
border-color: rgb(8,82,187); 
}

.range.step12::-moz-range-thumb{
border-color: rgb(8,74,187); 
}

.range.step13::-moz-range-thumb{
border-color: rgb(8,66,186); 
}

.range.step14::-moz-range-thumb{
border-color: rgb(8,58,186); 
}

.range.step15::-moz-range-thumb{
border-color: rgb(8,49,186); 
}

.range.step16::-moz-range-thumb{
border-color: rgb(7,41,185); 
}

.range.step17::-moz-range-thumb{
border-color: rgb(7,33,185); 
}

.range.step18::-moz-range-thumb{
border-color: rgb(7,25,185); 
}

.range.step19::-moz-range-thumb{
border-color: rgb(7,17,185); 
}

.range.step20::-moz-range-thumb{
border-color: rgb(7,8,184); 
}

.range.step21::-moz-range-thumb{
border-color: rgb(14,7,184); 
}

.range.step22::-moz-range-thumb{
border-color: rgb(22,7,184); 
}

.range.step23::-moz-range-thumb{
border-color: rgb(30,7,184); 
}

.range.step24::-moz-range-thumb{
border-color: rgb(38,7,183); 
}

.range.step25::-moz-range-thumb{
border-color: rgb(46,7,183); 
}

.range.step26::-moz-range-thumb{
border-color: rgb(54,7,183); 
}

.range.step27::-moz-range-thumb{
border-color: rgb(62,7,182); 
}

.range.step28::-moz-range-thumb{
border-color: rgb(70,7,182); 
}

.range.step29::-moz-range-thumb{
border-color: rgb(77,7,182); 
}

.range.step30::-moz-range-thumb{
border-color: rgb(85,7,182); 
}

.range.step31::-moz-range-thumb{
border-color: rgb(93,7,181); 
}

.range.step32::-moz-range-thumb{
border-color: rgb(101,6,181); 
}

.range.step33::-moz-range-thumb{
border-color: rgb(109,6,181); 
}

.range.step34::-moz-range-thumb{
border-color: rgb(116,6,181); 
}

.range.step35::-moz-range-thumb{
border-color: rgb(124,6,180); 
}

.range.step36::-moz-range-thumb{
border-color: rgb(132,6,180); 
}

.range.step37::-moz-range-thumb{
border-color: rgb(140,6,180); 
}

.range.step38::-moz-range-thumb{
border-color: rgb(147,6,180); 
}

.range.step39::-moz-range-thumb{
border-color: rgb(155,6,179); 
}

.range.step40::-moz-range-thumb{
border-color: rgb(163,6,179); 
}

.range.step41::-moz-range-thumb{
border-color: rgb(170,6,179); 
}

.range.step42::-moz-range-thumb{
border-color: rgb(178,6,178);
}

.range.step43::-moz-range-thumb{
border-color: rgb(178,6,171); 
}

.range.step44::-moz-range-thumb{
border-color: rgb(178,6,163); 
}

.range.step45::-moz-range-thumb{
border-color: rgb(178,6,155); 
}
.te
xt.step46::-moz-range-thumb{
border-color: rgb(177,6,147);
}

.range.step47::-moz-range-thumb{
border-color: rgb(177,6,139); 
}

.range.step48::-moz-range-thumb{
border-color: rgb(177,5,130); 
}

.range.step49::-moz-range-thumb{
border-color: rgb(177,5,122); 
}

.range.step50::-moz-range-thumb{
border-color: rgb(176,5,114); 
}

.range.step51::-moz-range-thumb{
border-color: rgb(176,5,106); 
}

.range.step52::-moz-range-thumb{
border-color: rgb(176,5,99); 
}

.range.step53::-moz-range-thumb{
border-color: rgb(175,5,91); 
}

.range.step54::-moz-range-thumb{
border-color: rgb(175,5,83); 
}

.range.step55::-moz-range-thumb{
border-color: rgb(175,5,75); 
}

.range.step56::-moz-range-thumb{
border-color: rgb(175,5,67); 
}

.range.step57::-moz-range-thumb{
border-color: rgb(174,5,59); 
}

.range.step58::-moz-range-thumb{
border-color: rgb(174,5,51); 
}

.range.step59::-moz-range-thumb{
border-color: rgb(174,5,43); 
}

.range.step60::-moz-range-thumb{
border-color: rgb(174,5,36); 
}

.range.step61::-moz-range-thumb{
border-color: rgb(173,5,28); 
}

.range.step62::-moz-range-thumb{
border-color: rgb(173,5,20); 
}

.range.step63::-moz-range-thumb{
border-color: rgb(173,5,12); 
}

.range.step64::-moz-range-thumb{
border-color: rgb(173,5,5); 
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:active {
  cursor: pointer;
}

.text.step1
{
color: rgb(9,167,190);
}

.text.step2
{
color: rgb(8,158,189);
}

.text.step3
{
color: rgb(8,150,189); 
}

.text.step4
{
color: rgb(8,141,189); 
}

.text.step5
{
color: rgb(8,133,188); 
}

.text.step6
{
color: rgb(8,124,188); 
}

.text.step7
{
color: rgb(8,116,188); 
}

.text.step8
{
color: rgb(8,107,188); 
}

.text.step9
{
color: rgb(8,99,187); 
}

.text.step10
{
color: rgb(8,91,187); 
}

.text.step11
{
color: rgb(8,82,187); 
}

.text.step12
{
color: rgb(8,74,187); 
}

.text.step13{
color: rgb(8,66,186); 
}

.text.step14{
color: rgb(8,58,186); 
}

.text.step15{
color: rgb(8,49,186); 
}

.text.step16{
color: rgb(7,41,185); 
}

.text.step17{
color: rgb(7,33,185); 
}

.text.step18{
color: rgb(7,25,185); 
}

.text.step19{
color: rgb(7,17,185); 
}

.text.step20{
color: rgb(7,8,184); 
}

.text.step21{
color: rgb(14,7,184); 
}

.text.step22{
color: rgb(22,7,184); 
}

.text.step23{
color: rgb(30,7,184); 
}

.text.step24{
color: rgb(38,7,183); 
}

.text.step25{
color: rgb(46,7,183); 
}

.text.step26{
color: rgb(54,7,183); 
}

.text.step27{
color: rgb(62,7,182); 
}

.text.step28{
color: rgb(70,7,182); 
}

.text.step29{
color: rgb(77,7,182); 
}

.text.step30{
color: rgb(85,7,182); 
}

.text.step31{
color: rgb(93,7,181); 
}

.text.step32{
color: rgb(101,6,181); 
}

.text.step33{
color: rgb(109,6,181); 
}

.text.step34{
color: rgb(116,6,181); 
}

.text.step35{
color: rgb(124,6,180); 
}

.text.step36{
color: rgb(132,6,180); 
}

.text.step37{
color: rgb(140,6,180); 
}

.text.step38{
color: rgb(147,6,180); 
}

.text.step39{
color: rgb(155,6,179); 
}

.text.step40{
color: rgb(163,6,179); 
}

.text.step41{
color: rgb(170,6,179); 
}

.text.step42{
color: rgb(178,6,178);
}

.text.step43{
color: rgb(178,6,171); 
}

.text.step44{
color: rgb(178,6,163); 
}

.text.step45{
color: rgb(178,6,155); 
}
.te
xt.step46{
color: rgb(177,6,147);
}

.text.step47{
color: rgb(177,6,139); 
}

.text.step48{
color: rgb(177,5,130); 
}

.text.step49{
color: rgb(177,5,122); 
}

.text.step50{
color: rgb(176,5,114); 
}

.text.step51{
color: rgb(176,5,106); 
}

.text.step52{
color: rgb(176,5,99); 
}

.text.step53{
color: rgb(175,5,91); 
}

.text.step54{
color: rgb(175,5,83); 
}

.text.step55{
color: rgb(175,5,75); 
}

.text.step56{
color: rgb(175,5,67); 
}

.text.step57{
color: rgb(174,5,59); 
}

.text.step58{
color: rgb(174,5,51); 
}

.text.step59{
color: rgb(174,5,43); 
}

.text.step60{
color: rgb(174,5,36); 
}

.text.step61{
color: rgb(173,5,28); 
}

.text.step62{
color: rgb(173,5,20); 
}

.text.step63{
color: rgb(173,5,12); 
}

.text.step64{
color: rgb(173,5,5); 
}
